.card {
    padding: 2rem;
    background: var(--light-gray);
    border-bottom: 0.2rem solid var(--primary-color);
    text-align: center;
    box-shadow: 2.5px 5.0px 5.0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 18.75rem;
    min-height: 22.5rem;
    min-width: 18.75rem;
    max-height: 22.5rem;
    position: relative;
}

.card-icon {
    padding-bottom: 2rem;
}

.card-title {
    font-size: 1.25rem;
}

.card-description {
    font-weight: var(--fw-base);
    color: var(--second-text-color);
}

.card p {
    font-weight: var(--fw-base);
    color: var(--second-text-color);
}